Q1. Create one variable containing following type of data:
(i)string
(ii)list
(iii)float
(iv)tuple

In [3]:
a = "pwskills"
b = [1,2,5,6,32.21,'sachin',True]
c = 33.52
d = ("abc", 34, True, 40, "male")
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i)	var1 = ‘ ‘
(ii)var2 = ‘[ DS , ML , Python]’
(iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv)var4 = 1.

What will be the data type of the above given variable.

In [9]:
var1=''
var2='[DS,ML,Python]'
var3= ['DS','ML','Python']
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i)	/
(ii)% 
(iii)//
(iv)**

In [17]:
# a) / 
# above operator is Arithmetic division operator and it is use for simple division operation of numbers. 
# Example
a = 12
b = 4
print(a/b)

# b) %
# above operator is Arithmetic Modulus operator and it gives remainder value in division.
#Example
c = 35
d = 8
print(c%d)

# c) //
# above operator is Arithmetic Division Floor operator and it gives the quotient is rounded down to the nearest integer value.
#Example
e = 37
f = 9
print(e//f)

# d) **
# above operator is Arithmetic Exponenat/Power Operator and it multiple the base number upto the power we given.
#Example
g = 4
print(g**3)

3.0
3
4
64

Q4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [19]:
l = [1,22.51,5,8,'mayur',True,35.48,False,'sham',3+4j]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
22.51
<class 'float'>
5
<class 'int'>
8
<class 'int'>
mayur
<class 'str'>
True
<class 'bool'>
35.48
<class 'float'>
False
<class 'bool'>
sham
<class 'str'>
(3+4j)
<class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [1]:
a=int(input())
b=int(input())
c=a//b
while c>0:
    print(c)
    c = c // b
    
    
else:
    print('a is not divisible by b')

 8
 2

4
2
1
a is not divisible by b

In [2]:
a=int(input())
b=int(input())
c=a/b
while c>=1:
    print(c)
    c = c/b
        
else:
    print('a is not divisible by b')

 16
 2

8.0
4.0
2.0
1.0
a is not divisible by b

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [12]:
l = list(range(1,26))
for i in l:
    print(i)
    i = i % 3
    if i == 0:
        print('Number is divisible by 3')
    else:
        print('Number is not divisible by 3')

1
Number is not divisible by 3
2
Number is not divisible by 3
3
Number is divisible by 3
4
Number is not divisible by 3
5
Number is not divisible by 3
6
Number is divisible by 3
7
Number is not divisible by 3
8
Number is not divisible by 3
9
Number is divisible by 3
10
Number is not divisible by 3
11
Number is not divisible by 3
12
Number is divisible by 3
13
Number is not divisible by 3
14
Number is not divisible by 3
15
Number is divisible by 3
16
Number is not divisible by 3
17
Number is not divisible by 3
18
Number is divisible by 3
19
Number is not divisible by 3
20
Number is not divisible by 3
21
Number is divisible by 3
22
Number is not divisible by 3
23
Number is not divisible by 3
24
Number is divisible by 3
25
Number is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property

In [25]:
# Mutable : Mutable objects are those that allow you to change their value or data in place without affecting the object's identity.
# Example : List
p = [1,2,3,'pwskills',32.15,True,3+4j]
p[2]=33
print(p)

[1, 2, 33, 'pwskills', 32.15, True, (3+4j)]

In [26]:
# Immutable : Immutable objects are those that not allow you to change their value in place.
# Example : String
y = 'pwskills'
y[2] = 'a'
print(y)

TypeError: 'str' object does not support item assignment